/* GILA HTML5 Template */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700|Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Quicksand);

body {
  background: #ffffff;
  font-family: 'Quicksand', sans-serif;;
  font-weight: 400;
  position: relative;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-default {
  margin-bottom: 0;
  background: transparent;
  border-color: transparent;
  font-family: 'Quicksand';
}

.navbar-default .navbar-brand {
  color: #79a8a9;
}

.navbar-default .navbar-brand:hover{
  color: #1f4e5f;
}
.heading {
  font-size: 20px;
}

.subheading {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 60px;
}

.bold {
  font-weight: bold;
}

p {
  line-height: 28px;
  font-size: 15px;
}

a {
  outline: !important;
}

hr {
  width: 180px;
  border-color: #CCC;
}

.section-title strong {
  color: #00C6D7;
  font-size: 56px;
}

.section-title h1 {
  font-size: 24px;
}

.section-title {
  padding-bottom: 32px;
}

#work,#about,#team,
#portfolio,#pricing,#contact {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* ==========================================================================
home section
========================================================================== */
#home {
  background: url('https://images.unsplash.com/photo-1456244797041-024e2abaf31c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=88f3a621ee4da68ce81d241668598b38');
  background-size: cover;
  background-position: center;
  color: #ffffff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}
#home h1 {
  font-size: 40px;
}
#home h3 {
  font-size: 14px;
}
#home hr {
  width: 240px;
}
#home .btn {
  background: transparent;
  border: 4px solid #fff;
  border-radius: 0;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 12px 42px;
  margin-top: 40px;
  margin-right: 15px;
  transition: all 0.4s ease-in-out;
}
#home .btn:hover {
  background: #79a8a9;
  border-color: transparent;
}
#home .btn-info {
  background: #79a8a9;
  border-color: transparent;
}
#home .btn-info:hover {
  border: 4px solid #fff;
  border-radius: 0;
  background: transparent;
  color: #fff;
}


/* ==========================================================================
work section
========================================================================== */
#work {
  text-align: center;
}
#work .col-md-4 {
  padding: 28px;
  position: relative;
  transition: all 0.4s ease-in-out;
}
#work .col-md-4:hover {
  background-color: #fff;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
}
#work h3 {
  font-size: 18px;
}


/* ==========================================================================
about section
========================================================================== */
#about {
  background: #F8FAFF;
  color: #52616a;
}
.nav-tabs {
  margin-top: 20px;
  border-bottom: 1px solid #606060;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  display: block;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: 0;
  border-radius: 0;
}
.nav-tabs > li > a:hover {
  background-color: transparent;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color:  #00c6d7;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom-color: transparent;
}
.tab-content {
  padding-top: 20px;
}

.tab-content a {
  color: #0CC;
}

.tab-content a:hover, .tab-content a:link {
  color: #FF0;
  text-decoration: none;
}

/* ==========================================================================
home section
========================================================================== */
#pricing {
  text-align: center;
}

#pricing h2 {
  font-size: 45px;
}

#pricing h3 {
  font-size: 16px;
}
#pricing .plan {
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
  padding-top: 40px;
  padding-bottom: 80px;
  margin-bottom: 32px;
}
#pricing .plan span {
  font-size: 16px;
}
#pricing .plan .plan_title {
  font-weight: 300;
  letter-spacing: 2px;
  padding: 30px;
  margin-bottom: 20px;
}
#pricing .plan ul {
  padding: 0px;
}
#pricing .plan ul li {
  display: block;
  font-weight: 500;
  padding: 12px 0px;
}
#pricing .plan .btn {
  border: none;
  border-radius: 0px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  padding: 16px 60px;
  transition: all 0.4s ease-in-out;
  margin-top: 20px;
  text-transform: uppercase;
}
button.one {
  background-color: #1f4e5f;
}
button.two {
  background-color: #79a8a9;
}
button.three {
  background-color: #aacfd0;
}
button.one:hover {
  background-color: #52616a
}
button.two:hover {
  background-color: #52616a
}
button.three:hover {
  background-color: #52616a
}

/* ==========================================================================
footer section
========================================================================== */
footer {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
footer p {
  padding-top: 20px;
}
footer p a {
  text-decoration: none;
  color: #79a8a9;
}
footer p a:hover {
  text-decoration: none;
  color: #1f4e5f;
}
.social-icon {
  padding: 0;
  margin: 0;
}
.social-icon li {
  list-style: none;
  display: inline-block;
  padding: 6px;
}
.social-icon li a {
  color: #52616a;
  font-size: 20px;
  width: 56px;
  height: 56px;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}
.social-icon li a:hover {
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.4);
}
